.order{
    color: #0b0b0b;
}
* {
    box-sizing: border-box;
}

a {
    color: black;
}

.orderTable {
    background-color: #cbccce;
    border-bottom: 1px solid #444444;
    border-width: 0;
}
.form-group mb2{
    text-align: center;
    display:inline-block
}

.form-control {
    text-align: center;
}
.order__list{
    text-align: center;
}


.btn-btn-primary {
}

.order {
    width: 90%;
    margin: auto;
    padding: 30px;
}

.order ul {
    background-color: whitesmoke;
    padding: 30px;
    margin-bottom: 50px;
    border: whitesmoke solid 1px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 300;
}
.order__list__detail2 {
    border-bottom: whitesmoke solid 1px;
}
.tbody tr{
    border-bottom: 1px solid #444444;
}


table {
    border-top: solid 1.5px black;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

thead {
    text-align: center;
    font-weight: bold;
}
.partyLink{
    text-decoration-line: none;
}


td {
    height: 40px;
}



.order__list__detail :nth-child(3) a {
    font-size: 20px;
}

.order__list__detail :nth-child(3) p {
    margin-top: 6px;
    font-weight: bold;
}

.order__list__title {
    font-size: 18.5px;
    color: gray;
}
td{
    border: black solid 1px;
}
tr{
    border-bottom: black solid 1px;
}

.order__list__option {
    vertical-align: middle;
    font-size: 15px;
}

.order__list__option p::after {
    content: "";
    width: 90%;
    height: 1px;
    left: 0px;
    top: 25px;
    position: absolute;
}
.order__list__detail{
    border-bottom: #adadad solid 1px;
}

.order__list__detail :nth-child(4),
.order__list__detail :nth-child(5),
.order__list__detail :nth-child(6) {
}

.order__list__detail :nth-child(5),
.order__list__detail :nth-child(6) {
    text-align: center;
}

.order__list__detail :nth-child(5) button {
    background-color: limegreen;
    color: white;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 12px;
    margin-top: 5px;
}

.price {
    font-size: 15px;
    padding: 0 0px 0 0px;
}

.order__mainbtns {
    width: 420px;
    height: 200px;
    padding-top: 40px;
    display: block;
    margin-right: auto;
}

.order__bigorderbtn {
    width: 200px;
    height: 50px;
    font-size: 16px;

    margin: auto;
    border-radius: 5px;
}

.order__bigorderbtn.left {
    background-color: white;
    background-color: #86b7fe;
    border: 1px lightgray solid;
}

.status {
    font-size: 14px;
}

.pagingNum {
    margin-top: 15px;
    font-size: 17px;
    text-align: center;
}
