html {
    font-size: 15px;
    color: #0b0b0b;
}
.order_detail {
    margin: 0;
    padding: 0;
    line-height: 100px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 19px;
    text-align: center;
}
.order_info_box {
    text-align: center;
}
div, span, label, section, aside, footer, header, nav, video, table, tr, td, th {
    margin: 0;
    border: 0;
    color: black;
    text-align: center;
}

.container2 {
    border: 1px solid #444444;
    margin: 200px auto 200px;
}

.orderDate {
    font-size: 15px;
    text-align: right;
    margin-right: 150px;
}
.accumulate {
    text-align: right;
    padding: 0 150px 0 0px;

}
.orderDetailTable {
    width: 1000px;
    border-collapse: collapse;
    border: 1px solid #444444;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.orderDetailTable tr {
    border: 1px solid #444444;
    line-height: 3rem;
    margin-left: 40px;
    /*text-align: right;*/
    padding: 0 50px 0 0px;
}

.detailOrder {
    font-size: 25px;
    width: 1000px;
    margin: auto;
}

.orderDetailTable th {
    background: #c5d7f2;
    margin-left: 40px;
}
.paymentInfo {
    width: 500px;
    height: 200px;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    /*margin-right: auto;*/
    border: 1px solid #0b0b0b;
}
.refundInfo{
    height: 150px;
    border-collapse: collapse;
    text-align: center;
    width: 350px;
    /*margin-left: auto;*/
    margin-right: auto;
    border: 1px solid #0b0b0b;
}
tbody{
    border: 1px solid #0b0b0b;
    border-bottom: #adadad;
}

.paymentInfo tr {
    border: 1px solid #0b0b0b;
}
.refundInfo tr{
    border: 1px solid #0b0b0b;
}
.paymentInfo td {
    text-align: left;
    padding: 0 0 0 50px;
}
.refundInfo td{
    text-align: left;
    padding: 0 0 0 50px;
}
.orderType{
    text-align: left;
    padding: 0 0 0 0px;
}

.paymentInfo th {
    text-align: center;
    width: 200px;
    height: 50px;
    padding: 0 0px 0 30px;
    background: #d7d8da;
    border-bottom: #adadad;
}

.refundInfo th {
    text-align: center;
    width: 220px;
    height: 50px;
    padding: 0 0px 0 30px;
    background: #d7d8da;
    border-bottom: #adadad;
}

.accumulatePoint {
    height: 40px;
    width: 300px;
    border-collapse: collapse;
    border: 1px solid #444444;
    margin-left: 150px;
    /*margin-left: auto;*/
}


.GetOrderList{
    margin-right: auto;
    height: 50px;
}

.btn-primary {
    font-size: 15px;
    margin-bottom: 50px;
    border-radius: 40px;
    text-align: left;
}

.button-container{
    width: 900px;
    margin: 50px auto;
    height: 40px;
    padding-top: 30px;
}


.backdrop-ux {
    font-size: 70%;
    margin-left: 10px;
}

a {
    text-decoration-line: none;
}



.paymentInfoTitle {
    text-align: center;
    /*font-weight: bold;*/
}

.plusPointChild {
    background: #c5d7f2;
}

