<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="base.html :: base-head"></div>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--        <link rel="stylesheet" href="https://pinepeople-t3-bucket.s3.ap-northeast-2.amazonaws.com/css/css/orderDetailStyles.css"/>-->
    <link rel="stylesheet" th:href="@{/assets/css/orderCancelStyles.css}"/>
</head>
<body>
<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

<!--    nav-bar-->
<div th:insert="~{base :: pinepeople-nav}"></div>
<order>
    <main>
        <div class="container" role="main">
            <div class="order_detail" style="text-align: center">ORDER CANCEL</div>
            <div class="orderInfo">
                <div class="orderDate">주문 시간 <span id="formatDate"
                                                   th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd HH:mm')}"></span>
                </div>
                <table class="orderDetailTable">
                    <tr>
                        <th><span id="partyTitle" class="partyTitle" th:text="${order.partyTitle}"></span></th>
                        <td><span id="totalCost" class="cost" th:text="${order.cost}"></span>원</td>
                    </tr>
                </table>

                <br>
                <div style="font-size: 18px">💸&nbsp;결제 취소 정보</div>
                <div style="width: 650px; float: left">
                    <table class="paymentInfo">
                        <tr>
                            <th> 상품 금액</th>
                            <td><span id="cost" class="cost" th:text="${order.cost}"></span>원</td>
                        </tr>
                        <tr>
                            <th> 수수료(10%)</th>
                            <td><span id="commission" class="commission" th:text="${commission}"></span>원
                            </td>
                        </tr>
                        <tr>
                            <th> 사용 포인트</th>
                            <td><span id="usePoint" th:text="${order.discountPoint}"></span>p</td>
                        </tr>
                        <tr>
                            <th> 결제 수단</th>
                            <td>
                                <div class="orderType" th:switch="${#strings.toString(order.paymentType)}">
                                    <span th:case="CONTACT_PAYMENT" th:text="'만나서 결제'"></span>
                                    <span th:case="CREDIT_CARD" th:text='카드'></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th> 총 결제 금액</th>
                            <td><span id="sum" th:text="${order.totalCost}"></span>원</td>
                        </tr>
                        <tr>
                            <th>적립 포인트(5%)</th>
                            <td><span th:text="${order.accumulatePoint}">p</span></td>
                        </tr>
                    </table>
                </div>
                <div style="width: 500px; float: right">
                    <div class="orderDate">주문 취소 시간 <span id="formatDate2"
                                                          th:text="${#dates.format(order.updatedAt, 'yyyy-MM-dd HH:mm')}"></span></div>
                    <table class="refundInfo">
                        <tr>
                            <th> 적립 포인트 차감<p style="font-size: 9px">(보유 포인트 - 적립 포인트)</p></th>
                            <td><span id="refundAcp" th:text="${user.point}-${order.accumulatePoint}"></span>p</td>
                        </tr>
                        <tr>
                            <th> 환불 사용 포인트</th>
                            <td><span id="refundPoint" th:text="${order.discountPoint}"></span>p</td>
                        </tr>
                        <tr>
                            <th> 환불 금액</th>
                            <td><span id="refundTotal" th:text="${order.totalCost}"></span>원</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="button-container d-flex">
            <div class="GetOrderList">
                <button class="btn btn-primary" type="button"
                        th:onclick="|location.href= '@{/pinepeople/party/order-list}'|"> < 주문 목록으로 가기
                </button>
            </div>
        </div>
    </main>
</order>

<!--footer-->
<div th:insert="~{base :: pinepeople-footer}"></div>
</body>
</html>