<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <link rel="stylesheet" href="css/orderDetailStyles.css"/>-->
    <link rel="stylesheet" th:href="@{/static/assets/css/orderCancelStyles.css}"/>
</head>
<body>
<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<!-- swal 적용 -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<order>
    <main>
        <div class="container" role="main">
            <h3>주문 취소 상세</h3>
            <div class="container2">
                <div class="orderDate">주문 취소 <span id="formatDate"
                                                   th:text="${#dates.format(order.updatedAt, 'yyyy-MM-dd HH:mm')}"></span>
                </div>

                <table class="orderDetailTable">
                    <tr>
                        <th><span id="partyTitle" class="partyTitle" th:text="${order.party.partyTitle}"></span></th>
                        <td><span id="totalCost" class="cost" th:text="${order.totalCost}"></span>원</td>
                    </tr>
                </table>
                <br>
                <div>
                    <table class="paymentInfo">
                        <caption>결제 취소 정보</caption>
                        <br>
                        <tr>
                            <th>ㆍ 상품 금액</th>
                            <td><span id="cost" class="cost" th:text="${order.cost}"></span>원</td>
                        </tr>
                        <tr>
                            <th>ㆍ 수수료(10%)</th>
                            <td><span id="commission" class="commission"
                                      th:text="${#numbers.formatInteger(order.cost * 0.1,1,'COMMA')}"></span>원
                            </td>
                        </tr>
                        <tr>
                            <th>ㆍ 사용 포인트</th>
                            <td><span id="usePoint" th:text="${order.discountPoint}"></span>원</td>
                        </tr>
                        <tr>
                            <th>ㆍ 결제 수단</th>
                            <td>
                                <div th:switch="${order.paymentType}">
                                    <span th:case="${T(com.lion.pinepeople.enums.PaymentType).CONTACT_PAYMENT}">만나서 결제</span>
                                    <span th:case="${T(com.lion.pinepeople.enums.PaymentType).CREDIT_CARD}">카드</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>ㆍ 총 결제 금액</th>
                            <td><span id="sum" th:text="${order.totalCost}"></span>원</td>
                        </tr>
                        <tr>
                            <th>ㆍ 적립 포인트 (5%)</th>
                            <td><span id="accumulatePoint" th:text="${order.accumulatePoint}"></span>p</td>
                        </tr>
                    </table>
                    <br>
                    <table class="refundTable">
                        <tr>
                            <th>ㆍ 환불 포인트</th>
                            <td><span id="refundPoint"
                                      th:text="${order.discountPoint}"></span>p
                            </td>
                        </tr>
                        <tr>
                            <th>ㆍ 보유 포인트 - 적립 포인트</th>
                            <td><span id="refundAcp"
                                      th:text="${user.point}-${order.accumulatePoint}"></span>p
                            </td>
                        </tr>
                        <tr>
                            <th>ㆍ 환불 금액</th>
                            <td><span id="refundTotal" th:text="${order.totalCost}"></span>p</td>
                        </tr>
                    </table>
                </div>
                <br>
                <br>
            </div>
            <br>
            <div class="backdrop-ux">
                <a href="http://localhost:8787/pinepeople/party/order-list"> < 주문 목록으로 가기</a>
            </div>
        </div>
    </main>
</order>


</body>
</html>
