<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="base :: base-head"></div>
    <meta charset="utf-8">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link   rel="stylesheet"  href="https://pinepeople-t3-bucket.s3.ap-northeast-2.amazonaws.com/css/css/styles.css"/>
</head>
<body>
<!-- Navigation-->
<div th:insert="~{base :: pinepeople-nav}"></div>
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" th:src="${party.partyImg}" alt="partyImg" /></div>
            <div class="col-md-6">
                <h4 class="display-5" th:text="${party.categoryName}">파티 카테고리</h4>
                <h1 class="display-3 fw-bolder" th:text="${party.partyTitle}">파티 제목</h1>
                <div class="fs-5 mb-5">
                    <div>
                        <span style="font-weight: bold;" th:text="'상태 : ' + ${party.partyStatus.status}">$40.00</span>
                        <br>
                        <span th:text="'가격 : ' + ${party.partyCost}+ '원'">$40.00</span>
                        <br>
                        <span th:text="'인원 : '+${party.partySize}">$40.00</span>
                        <br>
                        <span th:text="'시작일 : '+${party.startDate}">$40.00</span>
                        <br>
                        <span th:text="'마감일 : '+${party.endDate}">$40.00</span>
                    </div>
                </div>
                <p class="lead" th:text="${party.partyContent}">파티 내용</p>
                <div class="d-flex">
                    <!--                            <input class="form-control text-center me-3" id="inputQuantity" type="num" th:value="" style="max-width: 3rem" />-->
                    <form style="display: inline;" onclick="main.joinParty(this)">
                        <input type="hidden" name="partyId" th:value="${party.partyId}" >
                        <button class="btn btn-outline-dark flex-shrink-0" type="button"  >
                            <i class="bi-cart-fill me-1"></i>
                            파티 참여하기
                        </button>
                    </form>
                    <div th:each="participant:${approvedParticipant}">
                        <th:block th:if="${#strings.toString(participant.approvalStatus)} == 'APPROVED' and ${participant.userName == user.name} and ${#strings.toString(participant.getParticipantRole())}=='GUEST'">
                            <button class="btn btn-outline-dark flex-shrink-0"  type="button" th:onclick="|location.href='@{/pinepeople/party/{partyId}/order(partyId=${party.partyId})}'|">
                                <i class="bi bi-wallet-fill"></i>
                                결제하기
                            </button>
                            <button class="btn btn-outline-dark flex-shrink-0" id="deleteParty"  type="button">
                                <i class="bi bi-file-excel-fill"></i>
                                파티 탈퇴하기
                            </button>
                        </th:block>
                    </div>

                    <!--                            <form style="display: inline;">-->
                    <!--                                <a href="#" style="margin-left: 15px" class="btn btn-primary" th:href="@{/pinepeople/party/update/{id}(id=${party.partyId})}" >파티 수정하기</a>-->
                    <!--                            </form>-->
                </div>
            </div>
        </div>
    </div>
</section>
<hr/>
<div class="participants m-5">
    <h5>참여중인 파티원</h5>
    <div class="row h-100">
        <div class="col-2" th:each="participant:${approvedParticipant}">
            <div class="m-3">
                <a th:href="@{/pinepeople/profile/profilePage/{userId}(userId=${participant.userId})}"><img class="rounded" th:src="${participant.userProfileImg}"/></a>
            </div>
            <div class="text-center">
                <div th:text="${participant.userName}"></div>
            </div>

        </div>
    </div>
</div>
<hr/>

<div class="wating-participants m-5" th:if="${party.hostName == #authentication.principal.nickName}">
    <form style="display: inline;">
        <a href="#" style="margin-left: 15px" class="btn btn-primary" th:href="@{/pinepeople/party/update/{id}(id=${party.partyId})}" >파티 수정하기</a>
    </form>
    <button class="btn btn-secondary" id="waitingBtn">대기중인 파티원 확인</button>
    <button class="btn btn-warning" id="deleteBtn">파티 삭제하기</button>
    <div id="waiting-body">
    </div>
</div>
<hr/>


<form action="/pinepeople/party/write-comment" method="post">
    <div class="card mb-2">
        <div class="card-header bg-light">
            <i class="fa fa-comment fa"></i> REPLY
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="form-inline mb-2">
                        <label for="replyId"><i class="fa fa-user-circle-o fa-2x"></i></label>
                        <input type="text" th:field="${party.partyId}" style="display: none" class="form-control ml-2" placeholder="Enter yourId" id="replyId">
                        <th:block th:if="${user != null}">
                            <label for="replyPassword" class="ml-4"><i class="fa fa-unlock-alt fa-2x"></i></label>
                            <input type="text" th:field="${user.id}"  class="form-control ml-2" style="display: none" placeholder="Enter password" id="replyPassword">
                        </th:block>
                    </div>
                    <textarea class="form-control" th:field="${partyComment.body}" id="exampleFormControlTextarea1" rows="3"></textarea>
                    <button type="submit" class="btn btn-dark mt-3" onClick="javascript:addReply();">post reply</button>
                </li>
            </ul>
        </div>
        <div class="card" th:if="${!#lists.isEmpty(comments)}">
            <div class="card-header bi bi-chat-dots"th:text="'현재 댓글 개수 : '+${#lists.size(comments)}+'개'"> Comments</div>
            <ul class="list-group-flush" th:each="comment :${comments}" >
                <li class="list-group-item">
                <span>
                    <span style="font-size: small" th:text="${comment.user.name}"></span>
                    <span style="font-size: xx-small" th:text="${comment.createdAt}"></span>

                 <form style="display: inline;" onclick="main.commentDelete(this)" >
                    <input type="hidden"  name="commentId" th:value="${comment.id}">
                           <input type="hidden" name="partyId" th:value="${party.partyId}" >
                       <input type="hidden" name="userId" th:value="${comment.user.id}" >
                            <a type="button" >
                            삭제
                            </a>
                </form>
                    </span>
                    <div th:text="${comment.body}">댓글 내용</div>
                </li>
            </ul>
            <div class="chat__message-box">
                <ul class="chat__message-ul">
                    <!--댓긇이 들어갈 공간-->
                </ul>
            </div>
        </div>
    </div>
</form>
<!-- Footer-->
<div th:insert="~{base :: pinepeople-footer}"></div>
<!-- Core theme JS-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
<script charset="UTF-8">
    $('#waitingBtn').on("click", function(){
        var partyId = [[${party.partyId}]];
        let url = `/pinepeople/api/partys/`+partyId+`/participants/waits`

        $.ajax({
            url: url,
            dataType:'json',
            type:'GET',
            success:function(data){
                console.log(data)
                $('#waiting-body').empty()
                var body = '<div class="waiting row h-100">';
                for(var i=0; i<data.result.content.length; i++){
                    body += '<div class="col-2">';
                    body += '<div class="m-3">';
                    body +=  '<a href="/pinepeople/profile/profilePage/'+ data.result.content[i].userId +'"><img class="rounded" src="'+data.result.content[i].userProfileImg+'"/></a>';
                    body += '</div>';
                    body += '<div class="text-center">';
                    body +=  '<div>'+ data.result.content[i].userName +'</div>';
                    body += '</div>';
                    body += '<div class="text-center">';
                    body += '<button class="btn btn-secondary" id="okay" value="'+data.result.content[i].id+'">승인</button>';
                    body += '<button class="btn btn-warning" id="reject" value="'+data.result.content[i].id+'">거절</button>';
                    body += '</div>';
                    body += '</div>';
                }
                body += '</div>';
                $('#waiting-body').append(body)

            }
        })
    })
    $('#deleteParty').on("click", function(){
        var partyId = [[${party.partyId}]];
        let url = '/pinepeople/api/partys/'+ partyId +'/participants'

        if ( confirm("탈퇴하시겠습니까?") ) {
            $.ajax({
                url: url,
                dataType:'json',
                type:'DELETE',
                success:function(data){
                    console.log(data)
                    alert("해당 파티에서 탈퇴하셨습니다.")
                    document.location.href = '/pinepeople/party/list';
                },
                error:function (data){
                    alert(data.responseJSON.result.message)
                }
            })

        } else {
        }
    })

    $('#deleteBtn').on("click", function(){
        var partyId = [[${party.partyId}]];
        let url = `/pinepeople/api/partys/`+partyId

        $.ajax({
            url: url,
            dataType:'json',
            type:'DELETE',
            success:function(data){
                console.log(data)
                alert("해당 파티가 삭제되었습니다.")
                document.location.href = '/pinepeople/party/category?branch=Steadily';
            }
        })
    })

    $(document).on("click", "#reject", function (e) {
        console.log("reject")
        var partyId = [[${party.partyId}]];
        let url = `/pinepeople/api/partys/`+partyId+`/participants/`+this.value
        let sendData = JSON.stringify({
            "approvalStatus": "REJECTED"
        })

        $.ajax({
            url: url,
            data: sendData,
            contentType: 'application/json',
            type:'PATCH',
            success:function(data){
                alert("파티 신청 거절 완료")
                window.location.href = "/pinepeople/party/detail/"+partyId
            },
            error: function(data){
                alert(data.responseJSON.result.message)
            }

        })
    });

    $(document).on("click", "#okay", function (e) {
        console.log("okay")
        var partyId = [[${party.partyId}]];
        let url = `/pinepeople/api/partys/`+partyId+`/participants/`+this.value
        let sendData = JSON.stringify({
            "approvalStatus": "APPROVED"
        })
        $.ajax({
            url: url,
            data: sendData,
            contentType: 'application/json',
            type:'PATCH',
            success:function(data){
                window.location.href = "/pinepeople/party/detail/"+partyId
                alert("파티 신청 승인 완료")
            },
            error: function(data){
                alert(data.responseJSON.result.message)
            }
        })
    });


    let main = {
        commentDelete: function (form) {
            const con_check = confirm("삭제하시겠습니까?");
            if (con_check === true) {
                let commentId = form.commentId.value.trim();
                let partyId = form.partyId.value.trim();
                let userId = form.userId.value.trim();
                window.location.href = '/pinepeople/party/delete/' + partyId + '/' + commentId+'/'+userId;
            }
        },
        /* console.log("commentId:");
         let commentId = form.commentId.value.trim();
         let partyId = form.partyId.value.trim();
         console.log("commentId:" + commentId);

         axios.post('api/partys/'+ partyId+'/party-comments'+commentId, JSON.stringify(data),
             {
                 headers: {
                     'Content-Type': 'application/json'}
             }).then((response) => {
             console.log(response);
             console.log("삭제 axios");
             alert("댓글이 삭제되었습니다.");
             window.location.href = '/users/party/show-comment/' + commentId;
         })
     }*/

        joinParty: function (form) {
            const con_check = confirm("파티에 참여하시겠습니까?");
            if (con_check === true) {
                let id = form.partyId.value;
                window.location.href = '/pinepeople/party/join/' + id ;
            }
        }

    };
    main.init();


</script>

</html>