<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="base :: base-head"></div>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="css/PartyListStyles.css"  />
        <link rel="stylesheet"  th:href="@{/static/assets/css/PartyListStyles.css}"/>
        <style>
            .partyStatus {
                height: 50px; /* 높이 설정 */
                display: flex;
                align-items: center; /* 수직 정렬 */
                justify-content: center; /* 수평 정렬 */
            }
        </style>
    </head>
    <body>
        <!-- Navigation-->
        <div th:insert="~{base :: pinepeople-nav}"></div>
        <!-- Section-->
        <div class="dropdown" style="float: left">
            <button class="dropbtn">
                <span class="dropbtn_icon">more_horiz</span>
                Right Now!
            </button>
                    <div class="dropdown-content" >
                      <tr th:each="rightNow: ${rightNows}">
                        <a th:href="@{/pinepeople/party/category/{name}(name=${rightNow.name})}" th:text="${rightNow.name}" >profile</a>
                      </tr>
                    </div>
                    <div class="dropdown" >
                        <button class="dropbtn">
                            <span class="dropbtn_icon">more_horiz</span>
                            Stedily
                        </button>
                        <div class="dropdown-content">
                            <tr th:each="steadily: ${steadilys}">
                                <a th:href="@{/pinepeople/party/category/{name}(name=${steadily.name})}" th:text="${steadily.name}" >profile</a>
                            </tr>
                        </div>
                    </div>
        </div>


        <nav class="navbar bg-light">
            <div class="container-fluid">
                <form class="d-flex" th:action="@{/pinepeople/party/list}"  method="get" >
                    <input class="form-control me-2" type="text" name="address" th:value="${address}" placeholder="지역" >
                    <input class="form-control me-2" type="text" name="partyTitle" th:value="${partyTitle}" placeholder="파티 제목" >
                    <button type="submit" class="btn btn-outline-success" >Search</button>
                </form>
            </div>
        </nav>


        <section class="py-5">
            <div style="width: 50% " class="container px-4 px-lg-5 mt-5">
                <div  th:each="party:${partys}">
                <div style="margin-bottom: 55px; " class="card text-center">
                    <div class="card-body" style="background-color: lightyellow;">
                        <h5 class="card-title" th:text="${party.categoryName}" >Special title treatment</h5>
                        <h3 class="card-title" th:text="${party.partyTitle}" >Special title treatment</h3>
                        <div class="partyStatus">
                            <span style="font-weight: bold;" th:text="${party.partyStatus.status}"></span>
                        </div>
                       <div>
                        <span th:text="'지역 : ' + ${party.address}"></span>
                       </div>
                           <div>
                            <span th:text="'금액 : ' + ${party.partyCost}"></span>
                            <span th:text="'/ 인원 : ' + ${party.partySize}"></span>
                        </div>
                        <p class="card-text" th:text="${party.partyContent}">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary" th:href="@{/pinepeople/party/detail/{id}(id=${party.partyId})}" >파티 보러가기🎉</a>
                    </div>
                    <div  style="background-color: lightyellow;" class="card-footer text-muted" th:text="'마감일 : ' +${party.endDate}">
                        2 days ago
                    </div>
                </div>
                </div>
                <div>
                    <th:block  th:each="page:${#numbers.sequence(startPage,endPage)}">
                    <a class="page-item" th:if="${page != nowPage}" th:href="@{list(page=${page-1},title=${param.title})}" th:text ="${page}" style="font-size:25px"></a>
                    <strong th:if="${page==nowPage}" th:text ="${page}" style="color:lightskyblue; font-size:25px"></strong>
                    </th:block>
                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <div th:insert="~{base :: pinepeople-footer}"></div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
<style>

</style>
</html>
