<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <div th:replace="base :: base-head"></div>

        <!-- 회원 정보 table-->
        <style>
            table.type06 {
                border-collapse: collapse;
                text-align: left;
                line-height: 1.5;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                margin: 20px 10px;
                }
                table.type06 th {
                width: 150px;
                padding: 10px;
                font-weight: bold;
                vertical-align: top;
                }
                table.type06 td {
                width: 350px;
                padding: 10px;
                vertical-align: top;
                }
                table.type06 .even {
                background: #efefef;
            }
        </style>

    </head>
    <body>
        <!-- Navigation-->
        <div th:insert="~{base :: pinepeople-nav}"></div>
        <!-- Header-->
        <header class="bg-yellow py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Pine People</h1>
                    <p class="lead fw-normal text-white-50 mb-0">마이페이지</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2  justify-content-center">

                     <!-- profile start -->
                    <div class="col-6 h-100">
                        나의 프로필
                        <div class="card h-100 p-3">

                            <!-- profile-header -->
                            <div class="h-40 p-2">
                                <div class="row">
                                    <div class="col-3 p-1 h-100">
                                        <img class="border p-1 rounded h-100 w-100" th:src="${myInfo.profileImg}" alt="profileImg" />
                                    </div>
                                    <div class="col-9 brix-bar p-1">
                                        <div th:text="${myInfo.userName}"></div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"  th:style="'width:'+${myInfo.brixFiguer}+'%'" th:aria-valuenow="${myInfo.brixFiguer}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                </div>     
                            </div>
                            
                            <!-- profile-body -->
                            <table class="h-50 type06 p-2 text-center">
                                <tr>
                                    <th scope="row">보유 포인트</th>
                                    <td th:text = "${myInfo.point}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">닉네임</th>
                                    <td th:text = "${myInfo.userName}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">이메일</th>
                                    <td th:text = "${myInfo.email}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">연락처</th>
                                    <td th:text = "${myInfo.phone}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">주소</th>
                                    <td th:text = "${myInfo.address}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">생년월일</th>
                                    <td th:text = "${myInfo.birth}"></td>
                                </tr>
                            </table>
                            <div class="h-10 p-2">
                                <a th:href="@{/pinepeople/profile/myPage/update}"><button type="button" class="btn btn-secondary">회원정보수정</button></a>
                            </div>
                        </div>
                    </div>
                     <!-- profile end -->

                    <!-- party list start -->
                    <div class="col-6 h-100">
                        나의 파티 확인
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link my-party" aria-current="page" href="#">대기중</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link my-party" href="#">참가중</a>
                            </li>
                            <li class="nav-item" >
                                <a class="nav-link my-party" href="#">운영중</a>
                            </li>
                        </ul>
                        <div class="card h-100">
                            <table class="table" id="partysTable">
                                <thead class="table-dark">
                                    <tr>
                                        <th>번호</th>
                                        <th>카테고리</th>
                                        <th>파티이름</th>
                                        <th>호스트</th>
                                    </tr>
                                </thead>
                                <tbody id="party-body">
                                </tbody>
                            </table>
                              <div class="text-center">
                                <nav  aria-label="...">
                                    <ul class="pagination pagination-sm" style="justify-content : center">
                                      <li class="page-item active" aria-current="page">
                                        <span class="page-link">1</span>
                                      </li>
                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    </ul>
                                </nav>
                              </div>
                        </div>
                    </div>
                    <!-- party list end -->
                </div>
            </div>
        </section>
        <!-- Footer-->
        <div th:insert="~{base :: pinepeople-footer}"></div>

        <!-- Core theme JS-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <script>
            $('.my-party').on("click", function(){
                let urls = [
                    `/pinepeople/api/partys/my-waitings`,
                    `/pinepeople/api/partys/my?role=GUEST`,
                    `/pinepeople/api/partys/my?role=HOST`
                ]
                let idx = $(".my-party").index($(this))

                $.ajax({
                    url: urls[idx],
                    dataType:'json',
                    type:'GET',
                    success:function(data){
                        $('#party-body').empty()
                        for(var i=0; i<data.result.content.length; i++){
                            var tableId = '<tr>';
                            tableId += '<td>' + data.result.content[i].partyId + '</td>';
                            tableId += '<td>' + data.result.content[i].categoryName + '</td>';
                            tableId += '<td>' + data.result.content[i].partyTitle + '</td>';
                            tableId += '<td>' + data.result.content[i].hostName + '</td>';
                            tableId += '</tr>';
                            $('#party-body').append(tableId)
                        }
                    }
                })
            })

        </script>
    </body>
</html>
