<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<head>
  <div th:replace="base :: base-head"></div>
  <style>
  </style>
</head>
<body>
<div th:insert="~{base :: pinepeople-nav}"></div>
<section>
  <div th:object="${postReadResponse}">
    <div th:field="*{title}" th:text="*{title}">Title</div>
    <div th:field="*{body}" th:text="*{body}">Content</div>
    <span th:field="*{userName}" th:text="*{userName}">Name</span>
  </div>
  <button type="button" class="btn btn-warning" th:onclick="|location.href='/pinepeople/board/update/'+${postReadResponse.id}|"> 수정 </button>
  <button type="button" class="btn btn-secondary" th:onclick="|location.href='/pinepeople/board/delete/' + ${postReadResponse.id}|">삭제</button>
</section>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Writer</th>
    <th scope="col">Content</th>
  </tr>
  </thead>
  <tbody>
  <th:block th:each="comments:${comments}">
    <tr>
      <th scope="row" th:text="${comment.userName}">Comment Writer</th>
      <td th:text="${comment.body}" >Comment Body</td>
      <button type="button" class="btn btn-warning" th:onclick="|location.href='/pinepeople/board/update/'+${postReadResponse.id}|"> 수정 </button>
      <button type="button" class="btn btn-secondary" th:onclick="|location.href='/pinepeople/board/delete/' + ${postReadResponse.id}|">삭제</button>
      <div class="comment-layout">
        <textarea class="form-control" id="commentUpdateForm" rows="2"></textarea>
      </div>
    </tr>
  </th:block>
  </tbody>
</table>
<div th:insert="~{base :: pinepeople-footer}"></div>
</body>
</html>