<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Pine People</title>
  <!--favicon-->
  <link rel="icon" type="img/logo" href="https://pinepeople-t3-bucket.s3.ap-northeast-2.amazonaws.com/static/logo.png">
  <!--Theme custom css -->
  <link rel="stylesheet" href="https://pinepeople-t3-bucket.s3.ap-northeast-2.amazonaws.com/css/css/styles.css"/>
</head>
<body>
<div class="errorPage text-center">
  <img src="https://pinepeople-t3-bucket.s3.ap-northeast-2.amazonaws.com/static/logo.png"/>
  <h3>
    죄송합니다.<br>
    요청하신 페이지를 찾을 수 없습니다.
  </h3>
  <br>
  <p>
    방문하시려는 페이지의 주소가 잘못 입력되었거나,<br>
    페이지의 주소가 변경 혹은 삭제되어 요청하신 페이지를 찾을 수 없습니다.<br>

    입력하신 주소가 정확한지 다시 한번 확인해 주시기 바랍니다.<br>
  </p>
  <a th:href="@{/pinepeople}">파인피플 홈으로 가기</a>
</div>
</body>
</html>