<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="base-head">
    <meta charset="utf-8">
    <title>Pine People</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--favicon-->
    <link rel="icon" type="img/logo" href="https://pinepeople-t3-bucket.s3.ap-northeast-2.amazonaws.com/static/logo.png">

    <!--css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--Theme custom css -->
    <link rel="stylesheet" href="https://pinepeople-t3-bucket.s3.ap-northeast-2.amazonaws.com/css/css/styles.css"/>
    <link rel="stylesheet" href="https://pinepeople-t3-bucket.s3.ap-northeast-2.amazonaws.com/css/css/main/mainStyle.css"/>

    <!--bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!-- Core theme JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- toast 적용-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--noto sans 폰트 적용-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
          rel="stylesheet">

    <style>
        h1, h2, h3, h4, h5, h6, p, .navbar-brand, .nav-link {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .regular {
            font-weight: 400;
        }

        .medium {
            font-weight: 500;
        }

        .bold {
            font-weight: 700;
        }

    </style>
    <!-- sse -->
    <script>
        $(document).ready(function () {
            console.log("들어오니??");
            const eventSource = new EventSource("/pinepeople/api/subscribe");
            eventSource.addEventListener("sse", function (event) {
                let message = JSON.parse(event.data);
                console.log(message.content);
                console.log(message.id);
                toastr.options= {
                    positionClass :"toast-bottom-right",
                    closeButton: true,
                    progressBar: true,
                    timeOut: 10000
                },
                    toastr.options.onclick = function () {
                        // message.isRead=true
                        location.href="pinepeople/api/notifications/"+message.id
                        location.href=message.url
                    }
                toastr.info(message.content)
            })
            eventSource.addEventListener("error", function(event) {
                eventSource.close()
            })
        })

    </script>
</head>

<body data-spy="scroll" data-target=".navbar-collapse" data-offset="100">

<nav th:fragment="pinepeople-nav" class="navbar navbar-expand-lg navbar-light bg-white" style="margin-bottom: 0px;">
    <div class="container-fluid">
        <img src="https://pinepeople-t3-bucket.s3.ap-northeast-2.amazonaws.com/static/logo.png" alt="" width="50" height="60" class="d-inline-block align-text-center">
        <a class="navbar-brand bold mt-3 pt-3" th:href="@{/pinepeople}">Pine People</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mt-3" id="navbarNavDropdown">
            <ul class="navbar-nav text-center">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        파티
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/pinepeople/party/category?branch=Steadily}">꾸준히</a></li>
                        <li><a class="dropdown-item" th:href="@{/pinepeople/party/category?branch=RightNow}">당장히</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/pinepeople/party/create-new}">파티 만들기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/pinepeople/board/list}">커뮤니티</a>
                </li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false" sec:authentication="principal.nickName">
                        <img th:src="@{/static/image/user.png}" alt="" width="30" height="30">
                        사용자
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/pinepeople/profile/myPage}">마이페이지</a></li>
                        <li><a class="dropdown-item" th:href="@{/pinepeople/notification/my}">알림 확인하기</a></li>
                        <li><a class="dropdown-item" th:href="@{/pinepeople/party/order-list}">결제내역</a></li>
                        <li>
                            <form th:action="@{/pinepeople/logout}" method="post" sec:authorize="isAuthenticated()">
                                <button class="dropdown-item" type="submit" href="#">
                                    로그아웃
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <h5><a th:href="@{/pinepeople/profile/adminPage}"><span class="nav-link badge bg-secondary text-white mt-2">관리자</span></a></h5>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/pinepeople/login}" >로그인</a>
                </li>
<!--                <li>-->
<!--                    <b>Authenticated DTO:</b>-->
<!--                    <div sec:authentication="principal"></div>-->
<!--                </li>-->
            </ul>
        </div>
    </div>
</nav>

<footer th:fragment="pinepeople-footer" id="contact" class="footer action-lage bg-black p-top-80">
    <!--<div class="action-lage"></div>-->

    <div class="main_footer fix bg-mega text-center p-top-40 p-bottom-30 m-top-80">
        <div class="col-md-12">
            <p class="wow fadeInRight text-white" data-wow-duration="1s">
                Made with
                by
                <a target="_blank" href="https://gitlab.com/GunLABS/pine-people">Like Lion</a>
                7 Team. 김건우, 이아진, 박수진, 서정희, 김지수, 김진아
            </p>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
